#head1 {
    display: flex;
    justify-content: end;
    gap: 20px;
    color: white;
    /* background-color: red; */
    background-color: #e42529;
}

#head2 {
    display: flex;
    justify-content: space-between;
    color: white;
    /* background-color: red; */
    background-color: #e42529;
    padding: 20px;
}

#head2>div {
    display: flex;
    gap: 20px
}

#head3>ul {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    color: white;
}

#head3 {
    background-color: blue;
    padding: 10px;
}

#search-bar {
    border-radius: 20px;
    width: 450px;
    padding: 0px 10px;
    border: none;
}

.watch {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
    justify-content: space-evenly;
}

.watch img {

    width: 150px;
}

#head7 img {
    width: 80%;
}

#dis {
    display: flex;
    justify-content: space-evenly;
}

.picwatch img {
    /* width: 250px; */
    height: 400px;
}

.head6 {
    display: flex;
    justify-content: space-evenly;
}

.head6>div {
    width: 24%;
}

.head6 img {
    width: 100%;
}

.head8 {
    display: flex;
    justify-content: space-evenly;
}

.head8>div {
    width: 24%;
}

.head8 img {
    width: 100%
}

.head9 {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.head9>img {
    width: 325px
}

.Trimmer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* justify-content: space-evenly; */
}

.trimImg img {
    /* width: 250px; */
    height: 400px;
}
.footer{
    display:grid;grid-template-columns: repeat(4,200px);background-color:#003380 ;color:white
}



*{
    font-family: OpenSans, Arial, Helvetica, sans-serif
}


.footer {
    width:100%
}
*{
    font-size:100%
} 
.footer_links {
    background-color: #003380;
    padding-bottom:25px;
}
.footer_container {
margin-left: auto;
margin-right: auto;
padding-left: 16px;
padding-right: 16px;
}
.blk{
    margin-left: -15px;
    margin-right: -15px;
}
*{
    font: size 100%;
}
*{
    box-sizing:border-box;
}
blk_xs{
    min-height:1px;
    padding-left:15px;
    padding-right:15px;
    position:relative;
}
 body {
    font-family: Roboto,system-ui,sans-serif;
 }
 .footer_disclaimer{
    background-color:#0a244a ;
 }
 *{
    font: size 100%;
}
