#head1 {
    display: flex;
    justify-content: end;
    gap: 20px;
    color: white;
    /* background-color: red; */
    background-color: #e42529;
}

#head2 {
    display: flex;
    justify-content: space-between;
    color: white;
    /* background-color: red; */
    background-color: #e42529;
    padding: 20px;
}

#head2>div {
    display: flex;
    gap: 20px
}

#head3>ul {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    color: white;
}

#head3 {
    background-color: blue;
    padding: 10px;
}

#search-bar {
    border-radius: 20px;
    width: 450px;
    padding: 0px 10px;
    border: none;
}

.watch {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
    justify-content: space-evenly;
}

.watch img {

    width: 150px;
}

#head7 img {
    width: 80%;
}

#dis {
    display: flex;
    justify-content: space-evenly;
}

.picwatch img {
    /* width: 250px; */
    height: 400px;
}

.head6 {
    display: flex;
    justify-content: space-evenly;
}

.head6>div {
    width: 24%;
}

.head6 img {
    width: 100%;
}

.head8 {
    display: flex;
    justify-content: space-evenly;
}

.head8>div {
    width: 24%;
}

.head8 img {
    width: 100%
}

.head9 {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.head9>img {
    width: 325px
}

.Trimmer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* justify-content: space-evenly; */
}



button{
    border-radius: 10px;
    /* height: 10px; */
    background-color: rgba(127, 221, 255, 0.859);
    border: none
}
.Trimmer {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
    justify-content: space-evenly;
}

.Trimmer img {

    width: 150px;
}

#head11 img {
    width: 80%;
}

#dis4 {
    display: flex;
    justify-content: space-evenly;
}

.trimImg img {
    /* width: 250px; */
    height: 400px;
}

.navBarPro {
    position: absolute;
    background-color: white;
    display: none;
    right: 0px;
    z-index: 1;
    margin: 12px;
    width: 600px;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid rgb(204, 203, 203);
}
.navSale:hover .navBarPro {
    display: block;
    color: black;
        }
